@media (max-width: 1134px) {
    .flex {
        display: block;
    }

    .contact__box {
        max-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }

    .right__btn {
        margin-top: 30px;
        padding-left: 12px;
    }

    .third__block {
        display: block;
    }

    .first__chair,
    .second__chair {
        width: 100%;
    }

    .second__block-content {
        display: flex;
        justify-content: space-around;
    }

    .fourth__block-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .paginations {
        width: 100%;
    }
}

@media (max-width: 830px) {

    .navigation__btn {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
    }

    .menu li {
        display: block;
        text-align: center;
    }

    .menu a {
        display: block;
        background-color: #f5f5f5;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .menu li+li {
        padding-left: 0;
    }

}


@media (max-width:700px) {

    .first__chair,
    .second__chair {
        background-size: contain;
    }