* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    max-width: ;
}

a {
    text-decoration: none !important;
    display: inline-block;
    color: #212121;
}

a:hover {
    color: #212121;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.first__block {
    padding: 63px 0px 19px;
    background-color: #f0e2e2;
    background-image: url("../img/slider-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-right: 113px;
}

.menu__list {
    display: inline-block;
    text-align: right;
}

.menu__link {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    padding: 10px 13px;
}

.menu__link-active {
    font-family: "Montserrat";
    font-weight: bold;
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 10px 13px;
}

.menu__link:hover {
    color: coral;
}

.magnifier:after {
    content: url(../img/search.png);
    padding-left: 15px;
}

.slider__content {
    margin-top: 283px;
}

.color__text {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.8px;
    text-align: left;
    text-transform: uppercase;
    line-height: 48px;
}

.green {
    color: #43a047;
}

.blue {
    color: #1e88e5;
}

.red {
    color: #e53935;
}

.largest__text {
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    color: #212121;
}

.regular__text {
    max-width: 458px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #6c6c6c;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn__body {
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 141px;
}

.btn {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    margin-left: 25px;
}

.btn:after {
    content: url(../img/arrow.svg);
    width: 9px;
    height: 13px;
    object-fit: contain;
    padding-left: 22px;
}

.btn:hover {
    filter: invert(72%) sepia(25%) saturate(6420%) hue-rotate(326deg) brightness(102%) contrast(102%);
}

.paginations {
    position: absolute;
    text-align: center;
    bottom: 19px;
    width: 1170px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle__active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #212121;
    margin: 0;
}

.second__block {
    padding: 120px 0px 120px;
    background-color: #ffffff;
}

.second__block-top {
    display: flex;
    justify-content: space-between;
}

.small__title {
    display: inline-block;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    padding-left: 9px;
    padding-right: 20px;
    border-bottom: 3px solid #212121;
}

.small__title-faded {
    display: inline-block;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    color: #6c6c6c;
    text-align: left;
    margin-left: -4px;
    border-bottom: 1px solid #6c6c6c;
    padding: 0px 22px 2px 11px;
}

.small__title:hover,
.small__title-faded:hover {
    color: coral;
}


.right__btn {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 68px;
}

.right__btn:after {
    content: url(../img/small__arrow.png);
    padding-left: 12px;
}

.right__btn:hover {
    filter: invert(72%) sepia(25%) saturate(6420%) hue-rotate(326deg) brightness(102%) contrast(102%);
}


.second__block-content {
    display: flex;
    justify-content: space-between;
}

.boxes {
    width: 270px;
    height: 270px;
    display: inline-block;
}

.cube {
    display: inline-block;
    position: relative;
    max-width: 270px;
    height: 270px;
}

.inside__cube {
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 0px;
    top: 32px;
    width: 206px;
}

.middle__arrow {
    margin-left: 19px;
    margin-top: 15px;
}

.opacity {
    opacity: 0.1;
}

.small__btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    margin-left: 80px;

}

.middle__arrow:hover {
    filter: invert(72%) sepia(25%) saturate(6420%) hue-rotate(326deg) brightness(102%) contrast(102%);
}

.box__text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #212121;
    margin-top: 19px;
}

.box__text-small {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    color: #6c6c6c;
    max-width: 206px;
    margin-top: 23px;
}

.regular__text-third {
    max-width: 374px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    margin-top: 24px;
    margin-bottom: 34px;
}

.third__block {
    display: flex;
    justify-content: center;
}

.first__chair {
    background-image: url("../img/promo-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 683px;
    position: relative;
    display: inline-block;
    width: 683px;
    padding-top: 228px;
    padding-left: 50px;
}

.second__chair {
    background-image: url("../img/promo-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 683px;
    position: relative;
    display: inline-block;
    width: 683px;
    padding-top: 228px;
    padding-left: 50px;
}


.chair__title {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 28px;
    font-weight: bold;
    text-align: left;
    color: #212121;
}


.fourth__block {
    padding: 120px 0px 90px;
    background-color: #ffffff;
}

.trending__title {
    display: inline-block;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
    padding-left: 9px;
    padding-right: 20px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.boxes_1 {
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-bottom: 30px;
}

.fifth__block {
    padding: 63px 0px 19px;
    background-color: #f0e2e2;
    background-image: url("../img/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sixth__block {
    padding: 120px 0px 120px;
    background-color: #ffffff;

}

.pillow__text {
    background-image: url("../img/product-1-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    width: 570px;
    padding-top: 186px;
    padding-left: 31px;
}

.near__pillow {
    display: inline-block;
}

.collapse {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}

.first__child {
    padding: 15px;
    flex: 1 0 50%;

}

.second__child {
    padding: 15px;
    flex: 1 0 25%;
}

.pillow__size {
    width: 570px;
    height: 570px;
}

.seventh__block {
    background-image: url(../img/back-img.jpg);
    padding: 125px 0px 120px;
}

.m__app-text {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #6c6c6c;
    text-transform: uppercase;
}

.largest__text-bottom {
    width: 485px;
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 8px;
    margin-left: 7px;
}

.sb__small-text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    margin-bottom: 6px;
}

.sb__content-text {
    margin-bottom: 20px;
}

.sb__content-img img {
    object-fit: contain;
    margin-right: 10px;
    display: inline-block;

}

footer {
    padding: 120px 0px 38px;
    background-color: #f7f7f7;
}

.contact__us {
    width: 225px;
    display: inline-block;
    margin-right: 80px;
}

.contact__us-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #212121;
}

.useful__info {
    width: 440px;
    display: inline-block;
}

.second__info,
.first__info {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    letter-spacing: 0.7px;
    text-align: left;
    color: #212121;
}


.first__info {
    width: 140px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 102px;
}

.second__info {
    width: 193px;
    display: inline-block;
    text-transform: uppercase;
}

.first__info a:hover {
    color: coral;
}


.second__info a:hover {
    color: coral;
}

.stay__in-touch {
    width: 340px;
    display: inline-block;
}

.stay__in-touch-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #212121;
    margin-bottom: 26px;
}

.footer__upper-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #6c6c6c;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.email__subscribe {
    width: 340px;
    height: 48px;
    border: solid 1px #d9dee1;
    background-color: #ffffff;
    margin-bottom: 59px;
}

.email__subscribe[placeholder] {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #6c6c6c;
    padding-left: 19px;
}

.input[placeholder] {
    content: "\e900";
    position: absolute;
    right: 0;
    font-family: 'icomoon' !important;
    font-size: 22px;
    line-height: 1;
    color: #6c6c6c;
}

.copy {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.17;
    letter-spacing: 0.6px;
    text-align: left;
    color: #6c6c6c;
    text-transform: uppercase;
}

.social {
    width: 129px;
    height: 28px;
    font-family: icomoon;
    font-size: 28px;
    line-height: 0.93;
    letter-spacing: 5.6px;
    display: flex;
    justify-content: space-between;
}

.social a:hover {
    filter: invert(72%) sepia(25%) saturate(6420%) hue-rotate(326deg) brightness(102%) contrast(102%);
}


.fb:after {
    content: "\e902";
    font-family: 'icomoon' !important;
    color: #6c6c6c;
}

.tw:after {
    content: "\e905";
    font-family: 'icomoon' !important;
    color: #6c6c6c;
}

.google:after {
    content: "\e903";
    font-family: 'icomoon' !important;
    color: #6c6c6c;
}

.pin:after {
    content: "\e904";
    font-family: 'icomoon' !important;
    color: #6c6c6c;
}

/* Ð¡SS for page contact.html */

.first__contact {
    background-color: #f5f5f5;
    padding: 63px 0px 40px;
}

.inside__first-contact {
    margin-top: 100px;
}

.contacts__main {
    padding: 71px 0px 122px;
}

.contact__box {
    min-height: 370px;
    max-width: 370px;
    border: solid 1px #9c9c9c;
    text-align: center;
    opacity: 0.9;
    padding: 48px 0px 63px;
}

.textbox__contact {
    text-align: center;
    margin: 25px 0px 5px;
    padding: 0px 50px 0px;
}

.place__text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

.textbox__contact-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #6c6c6c;
}

.textbox__contact-text .text-style-1 {
    font-weight: bold;
}

.textbox__contact-text .text-style-2 {
    font-weight: bold;
    color: #212121;
}

.icon-location-pin {
    font-family: 'icomoon' !important;
    color: #212121;
    font-size: 48px;
    line-height: 30px;
    margin-top: 20px;
}

/* for mobile devices */
.navigation__btn {
    display: none;
    font-size: 28px;
    padding-right: 20px;
}
